
<div class="form-group">
&nbsp;&nbsp;
&nbsp;&nbsp;
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
            <ul>
                <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
                <% end %>
            </ul>
  </div>
<% end %>


<table class="table table-hover table-striped">
  <thread>
          <tr><td class="info"><label>Create a new user</label>
           </td></tr>
      <tr><td class="form-group">
          <%= f.label :name %></br>
          <%= f.text_field :name %></br>
      </td></tr>

      <tr><td class="form-group">
          <%= f.label :email %></br>
          <%= f.text_field :email %>
      </td></tr>
  </thread>
</table>


  <div class=" btn actions"><%= f.submit %></div>
      <% end %>
</div>
