<h1>Index Page</h1>

<h2><h2><%= link_to 'Create new User', new_user_path %></h2></h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <%= button_to "Delete", { action: "destroy", :controller => :users, id: user.id },
          method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



