


<div class="navbar-text pull-left">
  <span class="btn">
      <%= link_to 'Create new User', new_user_path %>
  </span>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Name</th>
      <th>Email</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>

        <td>
        <td id="btn-edit"><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <%= button_to "Delete", { action: "destroy", :controller => :users, id: user.id },
          method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



