<h2>Contacts page >> Create/Edit a contact</h2>

<%= form_for [@company, @contact] do |f| %>
  <% if @contact.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @contact.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :Id %>
    <%= f.text_field :contact_id %>
  </div>

  </div>
    <div class="field">
    <%= f.label :Picture %>
    <%= f.text_field :profile_pic_uri %>
  </div>
  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>
    <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :job_title %>
  </div>
    <div class="field">
    <%= f.label :Email %>
    <%= f.text_field :email %>
  </div>
    <div class="field">
    <%= f.label :Office_number %>
    <%= f.text_field :office_number %>
  </div>
    <div class="field">
    <%= f.label :Cellphone %>
    <%= f.text_field :cellphone_number %>
  </div>

  <div class="actions"><%= f.submit %>
  </div>

<% end %>
