
<div class="form-group">

<%= form_for @contact do |f| %>
  <% if @contact.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @contact.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-hover table-striped">
    <thread>
           <tr><td class="info"><label>Create or Edit your contact</label>
           </td></tr>
          <tr><td class="form-group">
            <%= f.label :Id %>
            <%= f.text_field :contact_id %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Picture %>
            <%= f.text_field :profile_pic_uri %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Name %>
            <%= f.text_field :name %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Title %>
            <%= f.text_field :job_title %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Email %>
            <%= f.text_field :email %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Office_number %>
            <%= f.text_field :office_number %>
          </td></tr>

          <tr><td class="form-group">
            <%= f.label :Cellphone %>
            <%= f.text_field :cellphone_number %>
           </tr></td>
    </thread>
  </table>

  <div class="actions put-right"><%= f.submit %>
  </div>

<% end %>

</div>

