

<div class="contacts">
<div class="navbar-text pull-right">
  <%= form_tag(contacts_path, :method => "get", class: "navbar-form inline-form", id: "search-form") do %>
    <div class="input-append">
      <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Type Contact name" %>
      <button class="btn" type="submit"><i class="icon-search"></i>Search</button>
    </div>
  <% end %>
  <%= button_to "Clear", contacts_path, method: :get, form_class: "inline-form", class: "btn" %>
</div>


<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Id</th>
      <th>Picture</th>
      <th>Name</th>
      <th>Job Title</th>
      <th>Email Type</th>
      <th>Office Num</th>
      <th>Cellphone</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.contact_id %></td>
        <td><%= contact.profile_pic_uri %></td>
        <td><%= contact.name %></td>
        <td><%= contact.job_title %></td>
        <td><%= contact.email %></td>
        <td><%= contact.office_number %></td>
        <td><%= contact.cellphone_number %></td>

        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td>
          <%= button_to "Delete", { action: "destroy", :controller => :contacts, id: contact.id },
          method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
