
<div class="company_form">
<%= form_for @company do |f| %>
  <% if @company.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @company.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<table class="table table-hover table-striped">
  <thread>
          <tr><td class="info"><label>Create or Edit a company</label>
           </td></tr>

          <tr><td class="field" >
            <%= f.label :Count %></br>
            <%= f.text_field :count %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Name %></br>
            <%= f.text_field :company_name %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Size %></br>
            <%= f.text_field :company_size %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Type %></br>
            <%= f.text_field :company_type %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Logo %></br>
            <%= f.text_field :logo_uri %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Telephone %></br>
            <%= f.text_field :telephone %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Fax %></br>
            <%= f.text_field :fax %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Email %></br>
            <%= f.text_field :email %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Website %></br>
            <%= f.text_field :website_uri %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Facebook %></br>
            <%= f.text_field :facebook_uri %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :LinkedIn %></br>
            <%= f.text_field :linkedin_uri %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Address %></br>
            <%= f.text_field :address %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :City %></br>
            <%= f.text_field :city %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :State %></br>
            <%= f.text_field :state %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Zip %></br>
            <%= f.text_field :zip_code %>
          </td></tr>

          <tr><td class="field">
            <%= f.label :Country %></br>
            <%= f.text_field :country %>
          </td></tr>

          <tr><td class="actions"><%= f.submit %>
          </td></tr>
          <% end %>
    </thread>
</table>
<div class="form-group">
