<h2>Companies main page >> Company view page</h2>


<h4><%= link_to "Add a contact", new_company_contact_path(@company) %></h4>


<p>
  <strong>Company id:</strong>
  <%= @company.count %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @company.logo_uri %>
</p>

<p>
  <strong>Company Name:</strong>
  <%= @company.company_name %>
</p>

<p>
  <strong>Company Size:</strong>
  <%= @company.company_size %>
</p>

<p>
  <strong>Company Type:</strong>
  <%= @company.company_type %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @company.telephone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @company.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @company.zip_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @company.country %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website_uri %>
</p>

<p>
  <strong>Facebook page:</strong>
  <%= @company.facebook_uri %>
</p>


<p>
  <strong>LinkedIn page:</strong>
  <%= @company.linkedin_uri %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

