


<div class="company_edit">

<table class="table table-hover table-striped table-condensed">
  <thread>
          <tr><td class="info"><label>Company details page</label>
           </td></tr>

            <tr><td>
              <strong><%= link_to "Add a contact", new_company_contact_path(@company) %></strong>
           </td></tr>

           <tr><td>
            <strong>Company id:</strong>
            <%= @company.count %>
          </td></tr>

          <tr><td>
            <strong>Logo:</strong>
            <%= @company.logo_uri %>
          </td></tr>

          <tr><td>
            <strong>Company Name:</strong>
            <%= @company.company_name %>
          </td></tr>

          <tr><td>
            <strong>Company Size:</strong>
            <%= @company.company_size %>
          </td></tr>

          <tr><td>
            <strong>Company Type:</strong>
            <%= @company.company_type %>
          </td></tr>

          <tr><td>
            <strong>Telephone:</strong>
            <%= @company.telephone %>
          </td></tr>

          <tr><td>
            <strong>Fax:</strong>
            <%= @company.fax %>
          </td></tr>

          <tr><td>
            <strong>Email:</strong>
            <%= @company.email %>
          </td></tr>

          <tr><td>
            <strong>Address:</strong>
            <%= @company.address %>
          </td></tr>

          <tr><td>
            <strong>City:</strong>
            <%= @company.city %>
          </td></tr>

          <tr><td>
            <strong>State:</strong>
            <%= @company.state %>
          </td></tr>

          <tr><td>
            <strong>Zip Code:</strong>
            <%= @company.zip_code %>
          </td></tr>

          <tr><td>
            <strong>Country:</strong>
            <%= @company.country %>
          </td></tr>

          <tr><td>
            <strong>Website:</strong>
            <%= @company.website_uri %>
          </td></tr>

          <tr><td>
            <strong>Facebook page:</strong>
            <%= @company.facebook_uri %>
          </td></tr>

          <tr><td>
            <strong>LinkedIn page:</strong>
            <%= @company.linkedin_uri %>
          </td></tr>
            <tr><td>
                <%= link_to 'Edit', edit_company_path(@company) %> |
                <%= link_to 'Back', companies_path %>
            </td></tr>
    </thread>
</table>
</div>


