<!DOCTYPE html>
<html>
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>
  <% if current_user %>
    Welcome, <%= current_user.name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to 'Logout', session_path('dummy'), method: :delete %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
  <% else %>
    <%= link_to 'Login', login_path %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
<!--     <%= link_to 'Sign Up', new_user_path %> -->
  <% end %>

  <%= link_to 'Companies', controller: 'companies' %>
  &nbsp;&nbsp;|&nbsp;&nbsp;

    <%= link_to 'Contacts', contacts_path %>
  &nbsp;&nbsp;|&nbsp;&nbsp;

  <%= link_to 'Users', controller: 'users' %>
  &nbsp;&nbsp;|&nbsp;&nbsp;

</p>


<%= yield %>

</body>
</html>
